body {
    background-color: #434343;
}

div {
    color: whitesmoke;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2 {
    font-family: Courier New, serif;
}

h1, h2, span, label, li {
    color: white;
}
