body {
    background-color: #434343;
}

div {
    color: whitesmoke;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-family: Courier New, serif;
    color: white;
}
