#left-joystick {
    float: left;
    padding-left: 10%;
}

#right-joystick {
    float: left;
    padding-left: 55%;
}

h1 {
    color: black;
}

strong {
    color: black;
}

#btn-section {
    text-align: center;
    margin-top: 1em; /* to place the buttons in the top of the page */
}

#data-section {
    margin-top: 55em;
}

#left {
    color: red;
}

#right {
    color: blue;
}