.debug {
    color: chartreuse;
    text-align: center;
    font-size: xx-large;
    padding-top: 45%;
}

.joystick-table {
    text-align: center;
    width:100%;
    margin-bottom: 5%;


}

strong {
    color: black;
}

#btn-section{
    text-align: center;
}
