.debug {
    color: chartreuse;
    text-align: center;
    font-size: xx-large;
    padding-top: 35%;
}

#right-joystick-section, #left-joystick-section {
    float: left;
    padding-left: 25%;

}

strong {
    color: black;
}

#btn-section{
    text-align: center;
}
