{% load static %}
<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<meta charset="utf-8">
<head>

    <link rel='shortcut icon' type='image/x-icon' href='{% static "control/img/favicon.ico" %}'/>

    <title>{% block title %}PiDrone{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'control/MDB/css/bootstrap.min.css' %}">

    <!-- Material Design Bootstrap -->
    <link rel="stylesheet" type="text/css" href="{% static 'control/MDB/css/mdb.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'control/css/base.css' %}">


    {% block stylesheet %}{% endblock %}

    <!-- JQuery -->
    <script type="text/javascript" src="{% static 'control/MDB/js/jquery-3.2.1.min.js' %}"></script>
    {% block javascript %}{% endblock %}

</head>
<body>


{% block content %}
{% endblock %}

</body>
</html>