{% extends 'control/base.html' %}
{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{% static 'control/css/home_page.css' %}">
{% endblock %}

{% block content %}
    <h1 id="welcome">Welcome to PiDrone</h1>
    <div id="btn-section">
        <button type="button" class="btn btn-purple" onclick="location.href='control/'">Fly!</button>
        <button type="button" class="btn btn-cyan" onclick="location.href='control/live_data'">Live Data</button>
    </div>
{% endblock %}