{% extends 'control/base.html' %}
{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{% static 'control/css/home_page.css' %}">
{% endblock %}

{% block content %}
    {% if user.is_superuser %}
        <h1 id="welcome">Welcome Admin to PiDrone</h1>
    {% elif user.is_authenticated %}
        <h1 id="welcome">Welcome {{ user }} to PiDrone</h1>
    {% else %}
        <h1 id="welcome">Welcome to PiDrone</h1>
    {% endif %}
    <div id="btn-section">
        <a href="{% url 'index' %}" class="btn btn-purple">Fly!</a>
        <a href="{% url 'live_data' %}" class="btn btn-cyan">Live Data</a>
    </div>
    <div id="btn-section">
        {% if not user.is_authenticated %}
            <a href="{% url 'login' %}?next={% url 'homepage' %}" class="btn btn-deep-orange">Login</a>
            <a href="{% url 'signup' %}?next={% url 'homepage' %}" class="btn btn-pink">Sign up</a>
        {% else %}
            {% if user.is_superuser %}
                <a href="{% url 'admin:login' %}" class="btn btn-indigo">Admin Page</a>
            {% endif %}
            <a href="{% url 'logout' %}?next={% url 'homepage' %}" class="btn btn-amber">Logout</a>
        {% endif %}
    </div>
{% endblock %}