{% extends 'control/base.html' %}
{% load static %}


{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{% static 'control/css/index.css' %}">
{% endblock %}

{% block javascript %}
    <script src="{% static 'control/yoannmoinet-nipplejs/dist/nipplejs.min.js' %}"></script>
{% endblock %}


{% block content %}

    <!-- The Modal -->
    <div id="wait-modal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
        </div>
    </div>

    <div id="btn-section">
        <button type="button" class="btn btn-success" id="start">Start</button>
        <button type="button" class="btn btn-danger" id="stop">Stop</button>
    </div>

    <!-- handles the joysticks -->
    <div id="j-left" class="zone"></div>
    <div id="j-right" class="zone"></div>



    <section id="data-section">

        <div id="slider-section">
            <center>
                <div id="slide-container">
                    <input type="range" min="0" max="4" value="0" class="slider" id="mode-slider">
                </div>
            </center>

            <br><br>

            <center>
                <div id="slide-container">
                    <input type="range" min="0" max="1" value="0" class="slider" id="return-home-slider">
                </div>
            </center>
        </div>

        <br><br><br>

        <section id="left-joystick">
            <h1 id="left">Left</h1>
            <strong>dx: </strong>
            <div id="dx-lj"></div>

            <strong>dy: </strong>
            <div id="dy-lj"></div>
        </section>

        <section id="right-joystick">
            <h1 id="right">Right</h1>
            <strong>dx: </strong>
            <div id="dx-rj"></div>

            <strong>dy: </strong>
            <div id="dy-rj"></div>
        </section>
    </section>

    <script>

        // the joystick sends data to the server on 2 condition:
        // if a change was detected
        // if 0.2 seconds passed = average of 5 data pieces a second

        function throttleFunction(func, wait) {
            var timeout;
            return function () {
                var context = this, args = arguments;
                if (!timeout) {
                    // the first time the event fires, we setup a timer, which
                    // is used as a guard to block subsequent calls; once the
                    // timer's handler fires, we reset it and create a new one
                    timeout = setTimeout(function () {
                        timeout = null;
                        func.apply(context, args);
                    }, wait);
                }
            }
        }

        // examples of commands:
        // attitude_roll_4
        // start
        // mode_3
        // return-home_0
        // connect
        function ajaxCommand(command) {
            $.ajax({
                type: "GET",
                url: 'send_command/',
                data: {
                    'command': command
                },
                dataType: 'json',
                success: function (data) {
                    if (!data.success) {
                        if (data.error) {
                            alert("One user is already using this page");
                            location.href = "/"; // redirect to homepage
                        }
                        else {
                            alert("Error communication"); // drone communication problem
                        }
                    }
                }
            });

            return false
        }

        $(document).ready(function () {
            ajaxCommand("connect");
        });

        // close window event
        $(window).on('beforeunload', function () {
            ajaxCommand("disconnect");
        });

        // using phone
        if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
            // click tabs button
            $(window).blur(function () {
                ajaxCommand("disconnect");
            });
        }


        // enables sending data when stop button clicked and when start button didn't clicked
        let initializedDrone = false;
        let modalTimeout = 3000; //milliseconds - arming and disarming timeout

        $("#start").click(function () {
            ajaxCommand("start");
            if (!initializedDrone) {
                let modal = document.getElementById('wait-modal');
                modal.children[0].innerHTML = "Arm: wait 3 seconds...";
                modal.style.display = "block";

                setTimeout(function () {
                    modal.style.display = "none";
                }, modalTimeout);

            }
            initializedDrone = true;
        });

        $("#stop").click(function () {
            ajaxCommand("stop");
            if (initializedDrone) {
                let modal = document.getElementById('wait-modal');
                modal.children[0].innerHTML = "Disarm: wait 3 seconds...";
                modal.style.display = "block";

                setTimeout(function () {
                    modal.style.display = "none";
                }, modalTimeout);
            }
            initializedDrone = false;
        });

        // responsive size of joystick
        let width = window.innerWidth;
        let R = parseInt(width) / 4;

        let joystickLeft = nipplejs.create({
            zone: document.getElementById("j-left"),
            mode: "static",
            size: R,
            position: {left: '20%', top: '60%'},
            color: "red"
        }); // id = 0

        let joystickRight = nipplejs.create({
            zone: document.getElementById("j-right"),
            mode: "static",
            size: R,
            position: {left: '80%', top: '60%'},
            color: "blue"
        }); // id = 1

        let currentYaw, currentThrottle, currentRoll, currentPitch = 0; // to check if change detected
        let globalRoll, globalPitch, globalThrottle, globalYaw = 0; // data to send

        // left joystick: x-axis = yaw; y-axis = throttle
        // right joystick: x-axis = roll; y-axis = pitch

        // returns -1 when joystick didn't move otherwise returns the new joystick data

        function joystickYawPercentage() {
            let yaw = ($('#dx-lj').text() / 2);
            if (yaw === currentYaw) {
                yaw = -1;
            } else {
                currentYaw = yaw;
            }
            return yaw;
        }

        function joystickThrottlePercentage() {
            let throttle = ($('#dy-lj').text() / 2);
            if (throttle === currentThrottle) {
                throttle = -1;
            } else {
                currentThrottle = throttle;
            }
            return throttle;
        }

        function joystickRollPercentage() {
            let roll = ($('#dx-rj').text() / 2);
            if (roll === currentRoll) {
                roll = -1;
            } else {
                currentRoll = roll;
            }
            return roll;
        }

        function joystickPitchPercentage() {
            let pitch = ($('#dy-rj').text() / 2);
            if (pitch === currentPitch) {
                pitch = -1;
            } else {
                currentPitch = pitch;
            }
            return pitch;
        }

        let thrInterval = 200; // milliseconds


        // sends the data

        let rollThr = throttleFunction(function () {
            ajaxCommand("attitude_roll_" + globalRoll);
        }, thrInterval);
        let pitchThr = throttleFunction(function () {
            ajaxCommand("attitude_pitch_" + globalPitch);
        }, thrInterval);
        let yawThr = throttleFunction(function () {
            ajaxCommand("attitude_yaw_" + globalYaw);
        }, thrInterval);
        let throttleThr = throttleFunction(function () {
            ajaxCommand("attitude_throttle_" + globalThrottle);
        }, thrInterval);

        // sends slider command twice: on move slider and on leave slider

        $("#mode-slider").slider({
            slide: function (event, ui) {
            }
        });

        $("#mode-slider").on("input", throttleFunction(function (event, ui) {
            let number = $(this).val();
            let command = "mode_" + number;
            if (initializedDrone) {
                ajaxCommand(command);
            }
        }, thrInterval));

        $("#mode-slider").on("change", function (event, ui) {
            let number = $(this).val();
            let command = "mode_" + number;
            if (initializedDrone) {
                ajaxCommand(command);
            }
        });


        $("#return-home-slider").slider({
            slide: function (event, ui) {
            }
        });

        $("#return-home-slider").on("input", throttleFunction(function (event, ui) {
            let number = $(this).val();
            let command = "return-home_" + number;
            if (initializedDrone) {
                ajaxCommand(command);
            }
        }, thrInterval));

        $("#return-home-slider").on("change", function (event, ui) {
            let number = $(this).val();
            let command = "return-home_" + number;
            if (initializedDrone) {
                ajaxCommand(command);
            }
        });


        // events types are end and move
        // values are between 0-200

        joystickLeft.on('move', function (event, data) {

            // console.log(event);
            // console.log(data);

            $('#dx-lj').html((parseInt(Math.cos(data.angle.radian) * (data.distance * 202 / R) + 100)));
            $('#dy-lj').html((parseInt(Math.sin(data.angle.radian) * (data.distance * 202 / R) + 100)));
            let yaw = joystickYawPercentage();
            let throttle = joystickThrottlePercentage();
            if (initializedDrone) {
                if (yaw >= 0) {
                    globalYaw = yaw;
                    yawThr.apply(null, null);
                }
                if (throttle >= 0) {
                    globalThrottle = throttle;
                    throttleThr.apply(null, null);
                }
            }
        });

        joystickLeft.on('end', function () {
            $('#dx-lj').html(100);
            $('#dy-lj').html(0);
            let yaw = joystickYawPercentage();
            let throttle = joystickThrottlePercentage();
            if (initializedDrone) {
                if (yaw >= 0) {
                    ajaxCommand("attitude_yaw_" + yaw);
                }
                if (throttle >= 0) {
                    ajaxCommand("attitude_throttle_" + throttle);
                }
            }
        });


        joystickRight.on('move', function (event, data) {

            // console.log(event);
            // console.log(data);


            $('#dx-rj').html((parseInt(Math.cos(data.angle.radian) * (data.distance * 202 / R) + 100)));
            $('#dy-rj').html((parseInt(Math.sin(data.angle.radian) * (data.distance * 202 / R) + 100)));
            let roll = joystickRollPercentage();
            let pitch = joystickPitchPercentage();
            if (initializedDrone) {
                if (roll >= 0) {
                    globalRoll = roll;
                    rollThr.apply(null, null);
                }
                if (pitch >= 0) {
                    globalPitch = pitch;
                    pitchThr.apply(null, null);
                }
            }
        });

        joystickRight.on('end', function () {
            $('#dx-rj').html(100);
            $('#dy-rj').html(100);
            let roll = joystickRollPercentage();
            let pitch = joystickPitchPercentage();
            if (initializedDrone) {
                if (roll >= 0) {
                    ajaxCommand("attitude_roll_" + roll);
                }
                if (pitch >= 0) {
                    ajaxCommand("attitude_pitch_" + pitch);
                }
            }
        });

    </script>


{% endblock %}
