{% extebetweenontrol/base.html' %}
{% load static %}


{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{% static 'control/css/index.css' %}">
{% endblock %}

{% block javascript %}
    <script src="{% static 'control/yoannmoinet-nipplejs/dist/nipplejs.min.js' %}"></script>
{% endblock %}


{% block content %}
    <div id="btn-section">
        <button type="button" class="btn btn-success">Start</button>
        <button type="button" class="btn btn-danger">Stop</button>
    </div>
    <div id="jLeft" class="zone"></div>
    <div id="jRight" class="zone"></div>

    <div class="debug">Debug <i class="fa fa-bug" aria-hidden="true"></i></div>

    <table class="joystick-table">
        <tr>
            <td>
                <section id="left-joystick-section">
                    <strong>dx: </strong>
                    <div id="dx-lj"></div>

                    <strong>dy: </strong>
                    <div id="dy-lj"></div>
                </section>
            </td>
            <td>
                <section id="right-joystick-section">
                    <strong>dx: </strong>
                    <div id="dx-rj"></div>

                    <strong>dy: </strong>
                    <div id="dy-rj"></div>
                </section>
            </td>
        </tr>
    </table>
    <script>

        var width = window.innerWidth;
        var R = parseInt(width) / 4;
        var joystickLeft = nipplejs.create({
            zone: document.getElementById("jLeft"),
            mode: "static",
            size: R,
            position: {left: '20%', top: '60%'},
            color: "red"
        }); // id = 0

        var joystickRight = nipplejs.create({
            zone: document.getElementById("jRight"),
            mode: "static",
            size: R,
            position: {left: '80%', top: '60%'},
            color: "blue"
        }); // id = 1

        {# events types are end and move #}

        joystickLeft.on('move', function (event, data) {

            {#console.log(event);#}
            {#console.log(data);#}

            $('#dx-lj').html(parseInt(Math.cos((Math.PI * data.angle.degree) / 180) * 101));
            $('#dy-lj').html(parseInt(Math.sin((Math.PI * data.angle.degree) / 180) * 101));

        });

        joystickLeft.on('end', function () {
            $('#dx-lj').html(0);
            $('#dy-lj').html(0);

        });


        joystickRight.on('move', function (event, data) {

            {#console.log(event);#}
            {#console.log(data);#}

            $('#dx-rj').html(parseInt(Math.cos((Math.PI * data.angle.degree) / 180) * 101));
            $('#dy-rj').html(parseInt(Math.sin((Math.PI * data.angle.degree) / 180) * 101));

        });

        joystickRight.on('end', function () {
            $('#dx-rj').html(0);
            $('#dy-rj').html(0);

        });

    </script>

{% endblock %}
