{% extends 'control/base.html' %}
{% load static %}
{% load easy_rest %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{% static 'control/css/live_data.css' %}">
{% endblock %}

{% block javascript %}
    <script src="{% static 'control/js/Chart.js' %}"></script>
{% endblock %}

{% block content %}

    <h1>Live Data</h1>
    <h2>Drone Attitude</h2>

    <div class="container">
        <div class="row">
            <div id="attitude-live-chart" class="col-md-6 col-lg-6">
                <canvas id="chart-throttle" width="500" height="250"></canvas>
            </div>
            <div id="attitude-live-chart" class="col-md-6 col-lg-6">
                <canvas id="chart-yaw" width="500" height="250"></canvas>
            </div>
        </div>

        <div class="row">
            <div id="attitude-live-chart" class="col-md-6 col-lg-6">
                <canvas id="chart-pitch" width="500" height="250"></canvas>
            </div>
            <div id="attitude-live-chart" class="col-md-6 col-lg-6">
                <canvas id="chart-roll" width="500" height="250"></canvas>
            </div>
        </div>
    </div>

    <script>

        let throttleLastValue, yawLastValue, pitchLastValue, rollLastValue = 1000; // to check if change detected

        setInterval(function () {
            let requestHandler = new RequestHandler('/control/live_data/api');
            let response = requestHandler.SendSync({"action": "get_attitude"}); // the data from the server
            // example of response: [attitude, yaw, 34]
            if (response.data['attitude'].length > 0) {
                // there's a data from the server

                // slice(-1)[0] gets the last item in the array
                let value = response.data['attitude'].slice(-1)[0].slice(-1)[0]; // percentage
                let name = response.data['attitude'].slice(-1)[0].slice(-2)[0];

                // update graph on change
                if (name === "throttle") {
                    if (value !== throttleLastValue) {
                        addData(throttleChart, updateLabel(throttleChart), value);
                        throttleLastValue = value;
                    }

                }
                else if (name === "yaw") {
                    if (value !== yawLastValue) {
                        addData(yawChart, updateLabel(yawChart), value);
                        yawLastValue = value;
                    }
                }
                else if (name === "pitch") {
                    if (value !== pitchLastValue) {
                        addData(pitchChart, updateLabel(pitchChart), value);
                        pitchLastValue = value;
                    }
                }
                else if (value !== rollLastValue) {
                    addData(rollChart, updateLabel(rollChart), value);
                    rollLastValue = value;
                }
            }
        }, 200); // 200 milliseconds = 0.2 seconds

        function addData(chart, label, data) {
            chart.data.labels.push(label);
            chart.data.datasets.forEach((dataset) => {
                dataset.data.push(data);
            });
            chart.update();
        }

        function updateLabel(chart) {
            // increase the chart label in 1
            return chart.data.labels.slice(-1)[0] + 1
        }


        throttleChart = new Chart($('#chart-throttle'), {
            type: 'line',
            data: {
                labels: [0],
                datasets: [
                    {
                        data: [0],
                        label: "Throttle",
                        borderColor: "#53ffcc",
                        fill: false
                    }

                ]
            },
            options: {
                title: {
                    display: true,
                    text: 'Throttle',
                    fontSize: 16
                }
            }
        });

        yawChart = new Chart($('#chart-yaw'), {
            type: 'line',
            data: {
                labels: [0],
                datasets: [
                    {
                        data: [0],
                        label: "Yaw",
                        borderColor: "#3e95cd",
                        fill: false
                    }

                ]
            },
            options: {
                title: {
                    display: true,
                    text: 'Yaw',
                    fontSize: 16
                }
            }
        });

        pitchChart = new Chart($('#chart-pitch'), {
            type: 'line',
            data: {
                labels: [0],
                datasets: [
                    {
                        data: [0],
                        label: "Pitch",
                        borderColor: "#8e5ea2",
                        fill: false
                    }

                ]
            },
            options: {
                title: {
                    display: true,
                    text: 'Pitch',
                    fontSize: 16
                }
            }
        });

        rollChart = new Chart($('#chart-roll'), {
            type: 'line',
            data: {
                labels: [0],
                datasets: [
                    {
                        data: [0],
                        label: "Roll",
                        borderColor: "#c45850",
                        fill: false
                    }

                ]
            },
            options: {
                title: {
                    display: true,
                    text: 'Roll',
                    fontSize: 16
                }
            }
        });


    </script>
{% endblock %}